
*{
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: 'Norse' ;
    src: url(./fonts/Norse-Bold.otf) format('otf');
}

.container{
    display: flex;
    height: 100vh;
}

/* ============================================== LEFT SECTION ==============================================*/
.left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(./images/leaf-bg.avif);
    background-size: cover;
    height: 100%;
}

/* ========== LOGO CONTAINER ========== */
.left-section > .logo{
    color: white;
    background: rgb(0, 0, 0, 0.5);
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 35%;
}

.left-section > .logo > img{
    height: 100%;
    width: auto;
}

.left-section .logo p {
    font-family: 'Norse', sans-serif;
    font-size: 2rem;
    color: white;
}

/* ========== FOOTER CONTAINER ========== */
.left-section > .footer-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: auto;
    margin-bottom: 1rem;


}

/* ============================================== RIGHT SECTION ==============================================*/
.right-section {
    display: block;
    flex: 2;
}

.right-section div{
}

/* ========== TOP (DESCRIPTION) ========== */
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0rem 0rem 3rem;
    height: 33.4%;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(230, 230, 230);
}

/* ========== MIDDLE (FORM) ========== */
.form-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem 1rem 3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


.form-section > h1{
    font-size: 1.7rem;
}
form {
    margin-left: -.8rem;
    display: block;
}

form > fieldset{
    display: flex;
    gap: 4rem;
    border: none;
    
}

fieldset > .label-input{
    display: flex;
    flex-direction: column;
    
}

.label-input > label{
    font-size: .9rem;
}

.label-input > input{
    width: 18rem;
    height: 1.5rem;
}

/* Hide the checkbox */
#pwMatch {
    display: none;
}

/* Set the border color to red when the checkbox is checked */
#pwMatch:checked + #confirmPassword {
    border-color: red;
}
/* ========== BOTTOM (FOOTER) ========== */

.footer{
    padding: 2rem 3rem;
}

.footer > #submit-button{
    border-radius: 7px;
    background: rgb(43, 98, 43);
    color: white;
    padding: .7rem 2.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.footer > p{
    margin-top: 1.5rem;
}

.footer > p > a{
    text-decoration: none;
    color: rgb(43, 98, 43);
}